---
layout: default
title: Agile Spirit 
---

<div id="home">
 
  <!-- Paginated posts loop -->
  <ul class="post-list">
    {% for post in paginator.posts %}
    <li class="post-list-item post">

      <!-- Title -->
      <div class="post-title">
        <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
      </div>
      
      <!-- Meta data -->
      <div class="post-meta">
        {% if site.author %}
        <span class="glyphicon glyphicon-user"></span><span class="post-meta-data">{{ site.author }}</span>
        {% endif %}
        {% if post.date %}
        <span class="glyphicon glyphicon-time"></span><span class="post-meta-data">{{ post.date | date: "%d-%m-%Y" }}</span>
        {% endif %}
      </div>

      <div class="post-content">
        <p class="post-excerpt">{{ post.excerpt }}</p>
        <p><a href="{{ post.url }}">Lire l'article complet &rarr;</a></p>
      </div>
    </li>
    {% endfor %}
  </ul>

  <!-- Pagination links -->
  {% if paginator.total_pages > 1 %}
  <ul class="pager">
    {% if paginator.previous_page %}
      <li class="previous"><a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Page précédente</a></li>
    {% endif %}

    {% for page in (1 .. paginator.total_pages) %}
      {% if page == paginator.page %}
        <em>{{ page }}</em>
      {% elsif page == 1 %}
        <a href="{{ '/index.html' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
      {% else %}
        <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
      {% endif %}
    {% endfor %}

    {% if paginator.next_page %}
      <li class="next"><a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="page-next">Page suivante &rarr;</a></li>
    {% endif %}
  </div>
  {% endif %}

</div>