<footer id="footer" role="contentinfo" class="txtcenter">

  <div class="wrapper w700p center">
    <a class="block" href="https://twitter.com/jbuget">
      <span class="ss-social-circle ss-twitter">
        <div>Follow me on Twitter.</div>
      </span>
    </a>
    <a class="block" href="https://github.com/AgileSpirit">
      <span class="ss-social-circle ss-octocat">
        <div>I'm a developer at GitHub and give talks about building product.</div>
      </span>
    </a>
    <a class="block" href="https://github.com/AgileSpirit/feedback">
      <span class="ss-social-circle ss-mail">
        <div>Let's chat about this.</div>
      </span>
    </a>
  </div>

</footer>

</body>
</html>