<header id="header">
  <div class="container">
    <div class="title">
        <h1><a href="/">{{ site.name }}</a></h1><small>UX, dev &amp; agilité</small>
    </div>
    <div class="social-links">
      <a href="contact.html" target="_blank" class="ss-link ss-mail"></a>
      <a href="https://twitter.com/jbuget" target="_blank" class="ss-link ss-twitter"></a>
      <a href="https://github.com/AgileSpirit" target="_blank" class="ss-link ss-octocat"></a>
      <a href="https://www.linkedin.com/pub/j%C3%A9r%C3%A9my-buget/13/31/b09" target="_blank" class="ss-link ss-linkedin"></a>
      <a href="feed.xml" target="_blank" class="ss-link ss-rss"></a>
    </div>
  </div>
</header>
