/**
 * http://colorschemedesigner.com/#0011Tw0w0w0w0
 */

/* ------- */
/* General */
/* ------- */

body {
  font-family: 'Open Sans', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  color: #333;
}

h1,h2,h3,h4,h5 {
  font-weight: 300;
}

p, ul, ol, dl, blockquote, pre, td, th, label, textarea, caption, details, figure {
  font-size: 1em;
}

p:first-child {
  margin-top: 0.5em;
}

h1 {
  margin-bottom: 20px;
  padding-bottom: 10px;
  color: #006582;
  border-bottom: 1px solid #006582;
}

h2 {
  line-height: 1.2em;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 0.875em;
  margin-bottom: 0.875em;
  color: #2795b6;
  border-bottom: 1px solid #2795b6;
}

h3 {
  color: #2ba6cb;
}

h4 {
  text-decoration: underline;
}


blockquote {
  border-left: 5px solid #2ba6cb;
  padding: 5px 10px;
  font-style: italic;
}

p {
  margin-bottom: 1.8em;
  text-align: justify;
}

ul {
  margin-bottom: 1.8em;
}

#header .container,
#body .container,
#footer .container {
  max-width: 800px;
}

/* ------ */
/* Header */
/* ------ */

#header {
  background-color: #2ba6cb;
  color: #FFF;
  font-weight: 300;
  padding: 30px 0;
}

#header .title > h1 {
  display: inline-block;
  font-size: 2em;
  border-right: 2px solid #FFF;
  padding-right: 18px;
  margin-right: 10px;
  padding-bottom: 0;
  border-bottom: 0;
  margin-top: 0px;
  margin-bottom: 0;
}
#header .title > small {
  vertical-align: text-bottom;
  font-size: 1.25em;
}

#header a {
  color: #FFF;
  text-decoration: none;
}

/* ------ */
/* Social */
/* ------ */

.ss-link {
  display: inline-block;
  background-color: #2795b6;
  background-color: #3E8498;
  background-color: #5EC7E5;
  padding: 10px 10px 5px 10px;
  margin: auto 5px;
  font-size: 1.25em;
  border-radius: 50%;
  transition: background-color 0.25s linear;
  -moz-transition: background-color 0.25s linear;    /* FF3.7+ */
  -o-transition: background-color 0.25s linear;      /* Opera 10.5 */
  -webkit-transition: background-color 0.25s linear; /* Saf3.2+, Chrome */
}

.ss-link:hover,
.ss-link:focus {
  background-color: #006582;
  background-color: #0E6A84;
}


/* ------ */
/* Footer */
/* ------ */

#footer {
  margin-top: 30px;
  border-top: 1px solid #DDD;
  font-weight: 300;
  color: #999;
}

#footer p {
  margin-top: 1.8em;
}

/* ---- */
/* Page */
/* ---- */

.page {
  margin-bottom: 15px;
}

/* ---------- */
/* Pagination */
/* ---------- */

.pager li>a {
  border-radius: 0;
  padding: 10px;
  background-color: #5EC7E5;
  color: #FFF;
  text-decoration: none;
  font-weight: 400;
  border: 1px solid #5EC7E5;
  transition: background-color 0.3s linear;
  -moz-transition: background-color 0.3s linear;    /* FF3.7+ */
  -o-transition: background-color 0.3s linear;      /* Opera 10.5 */
  -webkit-transition: background-color 0.3s linear; /* Saf3.2+, Chrome */
}

.pager li>a:hover,
.pager li>a:focus {
  background-color: #2795b6;
  border-color: #2795b6;
}

/* ---- */
/* Form */
/* ---- */

.form-control {
  border-radius: 0;
}

/* ------------------------ */
/* Common 'post' properties */
/* ------------------------ */

.post {
}

.post-meta {
  color: #999;
  font-weight: 300;
  margin: 0.5em 0;
}

.post-meta-data {
  margin-left: 6px;
  margin-right: 15px;
  vertical-align: text-bottom;
}

.post-excerpt {
  margin-bottom: 0.8em;
}

.post .title {
  margin-bottom: 0;
}

.post a {
  color: #2ba6cb;
  text-decoration: none;
}
.post a:hover {
  color: #2795b6;
}

/* ------------- */
/* List of posts */
/* ------------- */

.post-list {
  padding-left: 0;
  margin-left: 0;
}

.post-list-item {
  list-style-type: none;
  margin-bottom: 1em;
}
.post-list-item:last-child {
  border-bottom: none;
}

.post-list-item .post-title h2 {
  margin-bottom: 0.35em;
}
.post-list-item:first-child h2 {
  margin-top: 0.5em;
}

/* ----------- */
/* Single post */
/* ----------- */

.single-post {
  
}

.single-post .post-title h1 {
  margin-bottom: 0.35em; /* Same as .post-list-item h2 */
}

.single-post .post-meta {
  margin-bottom: 1.8em; /* Same as .post-list-item h2 */
}

/* --------------- */
/* Disqus Comments */
/* --------------- */

.comments {
  margin-top: 2em;
  padding-top: 1em;
}


/* ---------- */
/* Responsive */
/* ---------- */

@media (min-width: 481px) {
  /* desktop / tablet */
  #home .posts .post span {
    color: #999;
    display: inline-block;
    font-size: 0.8em;
    padding-top: 3px;
    padding-right: 10px;
    text-align: right;
    text-transform: uppercase;
  }
}

@media (max-width: 480px) {
  /* smartphone */
  #github-ribbon {
    display: none;
  }
  #header .title > h1 {
    border: none;
    margin: 0;
    padding: 0;
  }
  #header .social {
    display: none;
  }
}

