/* ------- */
/* General */
/* ------- */

body {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #333;
  background-color: #F6F6F6;
}

/* ------ */
/* Header */
/* ------ */

#header {
  background-color: #2ba6cb;
  color: #FFF;
  font-weight: 300;
}
#header h1.title {
  display: inline-block;
  font-size: 2em;
  font-weight: 300;
  border-right: 1px solid #FFF;
  padding-right: 18px;
  margin-right: 10px;
}
#header .subtitle {
  font-size: 1.2em;
  font-weight: 300;
}
#header a {
  color: #FFF;
  text-decoration: none;
}
#header-middle {
  padding: 15px 0;
}
#header-bottom {
  background-color: #1399bd;
  padding: 8px 0 9px 0;
}

/* ---------- */
/* Navigation */
/* ---------- */

#navigation {
  display: inline-block;
}
#navigation ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#navigation li {
  display: inline-block;
  margin-right: 10px;
}

#navigation a {
  border: none;
  font-weight: bold;
  padding: 10px 20px 11px;
  text-align: center;
  text-decoration: none;
}
#navigation a:hover {
  background-color: #006582;
}

/* ---- */
/* Main */
/* ---- */

#main-wrapper {
  background-color: #FFF;
}
#main {
  padding: 20px 0;
}

/* ------ */
/* Footer */
/* ------ */

#footer {
  border-top: 1px solid #DDD;
  padding: 20px 0;
}
#footer .wrapper {
  padding: 20px 0;
}
#footer .wrapper a {
  color: #555;
  font-size: 40px;
  text-decoration: none;
  transition: color 0.25s ease-in;
  -webkit-transition: color 0.25s ease-in;
}
#footer .wrapper a:hover {
  color: #307EA9;
}
#footer .wrapper .block {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  line-height: 20px;
  width: 150px;
  padding: 0 10px;
}

#footer .wrapper .block div {
  margin-top: 20px;
  font-size: 0.30em;
}

/* --------- */
/* Home page */
/* --------- */

#home .posts li {
  list-style-type: none;
  padding: 7px 5px;
  font-size: 1.2em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#home .posts li a {
  color: #333;
  text-decoration: none;
}
#home .posts li span {
  color: #999;
  display: inline-block;
  font-size: 0.8em;
  padding-top: 3px;
  padding-right: 10px;
  text-align: right;
  text-transform: uppercase;
}

/* --------- */
/* Post page */
/* --------- */

.post {
  padding: 0 20px;
}

.post .content {
  border-bottom: 1px solid #CCC;
  padding: 15px 0;
}

.post .comments {
  padding: 15px 0;
}

/* ---------- */
/* Responsive */
/* ---------- */
@media (min-width: 481px) {
  /* smartphone */
}

@media (max-width: 480px) {
  /* smartphone */
  #github-ribbon {
    display: none;
  }
  #header-bottom {
    display: none;
  }
  #footer .wrapper .block {
    width: 100px;
  }
  #footer .wrapper .block div {
    display: none;
  }

}
