/* ------- */
/* General */
/* ------- */

body {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #333;
  background-color: #F6F6F6;
}

h1,h2,h3,h4,h5 {
  font-weight: 300;
}

h2 {
  line-height: 1.2em;
  padding-bottom: 15px;
}

blockquote {
  border-left: 5px solid #2ba6cb;
  padding: 5px 10px;
  font-style: italic;
}

/* ------ */
/* Header */
/* ------ */

#header {
  background-color: #2ba6cb;
  color: #FFF;
  font-weight: 300;
}
#header .wrapper {
  padding-left: 20px;
  padding-right: 20px;
}
#header h1.title {
  display: inline-block;
  font-size: 2em;
  border-right: 1px solid #FFF;
  padding-right: 18px;
  margin-right: 10px;
}
#header .subtitle {
  font-size: 1.2em;
  font-weight: 300;
}
#header a {
  color: #FFF;
  text-decoration: none;
}
#header-middle {
  padding: 15px 0;
}
#header-bottom {
  background-color: #1399bd;
  padding: 15px 0;
}

/* ---------- */
/* Navigation */
/* ---------- */

#navigation {
  display: inline-block;
}
#navigation ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#navigation li {
  display: inline-block;
  margin-right: 10px;
}

#navigation a {
  border: none;
  font-weight: bold;
  padding: 10px 20px 11px;
  text-align: center;
  text-decoration: none;
}
#navigation a:hover {
  background-color: #006582;
}

/* ---- */
/* Main */
/* ---- */

#main {
  font-size: 1.2em;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
}

#main-wrapper {
  background-color: #FFF;
}

/* ------ */
/* Footer */
/* ------ */

#footer {
  border-top: 1px solid #DDD;
  padding-top: 20px;
}
#footer .wrapper {
  padding: 20px 0;
}
#footer .wrapper a {
  color: #555;
  font-size: 40px;
  text-decoration: none;
  transition: color 0.25s ease-in;
  -webkit-transition: color 0.25s ease-in;
}
#footer .wrapper a:hover {
  color: #307EA9;
}
#footer .wrapper .block {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  line-height: 20px;
  width: 150px;
  padding: 0 10px;
}

#footer .wrapper .block div {
  margin-top: 20px;
  font-size: 0.30em;
}

#footer-bottom {
  background-color: #333;
  color: #CCCCCC;
  margin-bottom: 0;
  padding: 15px 0;
  font-size: 0.9em;
}

#footer-bottom a {
  text-decoration: none;
  font-weight: bold;
  color: inherit;
}

/* ---- */
/* Page */
/* ---- */

.page {
  margin-bottom: 15px;
}

/* ------------- */
/* List of posts */
/* ------------- */

.posts {
  padding-left: 0;
  margin-left: 0;
}

.posts .post {
  list-style-type: none;
  border-bottom: 1px dotted #CCC;
  margin-bottom: 15px;
}
.posts .post:last-child {
  border-bottom: none;
}
/* ----------- */
/* Single post */
/* ----------- */

.post {
  padding-bottom: 5px;
}

.post .title {}

.post .meta {
  color: #999;
  margin-top: 0;
  margin-bottom: 0;
}

.post .excerpt,
.post .content,
.post .comments {
  padding: 15px 0;
}

.post a {
  color: #2ba6cb;
  text-decoration: none;
}
.post a:hover {
  color: #2795b6;
}

/* ---------- */
/* Responsive */
/* ---------- */

@media (min-width: 481px) {
  /* desktop / tablet */
  #home .posts .post span {
    color: #999;
    display: inline-block;
    font-size: 0.8em;
    padding-top: 3px;
    padding-right: 10px;
    text-align: right;
    text-transform: uppercase;
  }
}

@media (max-width: 480px) {
  /* smartphone */
  #github-ribbon {
    display: none;
  }
  #header-bottom {
    display: none;
  }
  #header h1.title {
    border: none;
    margin: 0;
    padding: 0;
  }
  #header .subtitle {
    display: none;
  }
  #footer .wrapper .block {
    width: 100px;
  }
  #footer .wrapper .block div {
    display: none;
  }
  #home .posts .post span {
    display: none;
  }

}

